absl-py
alembic
aniso8601
asttokens
astunparse
audioread
blinker
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
contourpy
cycler
decorator
docker
entrypoints
executing
Flask
flatbuffers
fonttools
gast
gitdb
GitPython
google-pasta
graphene
graphql-core
graphql-relay
greenlet
grpcio
h5py
idna
importlib_metadata
ipython
itsdangerous
jedi
Jinja2
joblib
keras
kiwisolver
lazy_loader
libclang
librosa
llvmlite
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
mlflow
msgpack
namex
numba
numpy
opt-einsum
optree
packaging
pandas
parso
pillow
platformdirs
pooch
prompt-toolkit
protobuf
pure-eval
pyarrow
pycparser
Pygments
pyparsing
python-dateutil
pytz
pywin32==306
PyYAML
querystring-parser
requests
rich
scikit-learn
scipy
six
smmap
soundfile
soxr
SQLAlchemy
sqlparse
stack-data
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
traitlets
typing_extensions
tzdata
urllib3
waitress
wcwidth
Werkzeug
wrapt
zipp
